.base_4g_cache.pkl
ATIVIDADES_GERADAS.xlsx
Base_4G.xlsx
DT 3.2.1.7z
MAPA_ROTAS.html
OUT/
__pycache__/
build/
credentials.json
dt30_main.exe
dt30_main.spec
github_token.txt
mapbox_config.js
mapbox_token.txt
mapbox_uso.json
novas atividades/
tmp/
